{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="center-column">
    <form action="/" method="POST">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" , name="Create Todo" value="Добавить задачу">
    </form>
    {% for todo in todos %}
    <div>
        <p>{{todo}}</p>
    </div>
    {% endfor %}
</div>
</body>
</html>